[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
psycopg2-binary = "*"
authlib = "*"
requests = "*"
sqlalchemy-bigquery = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.12"
