body {
    background-color: #eeede7;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.pure-form {
    background-color: white;
    border: 2px solid #ccc;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 15px;
    width: 40%;
    transform: translate(8%, 10%);
}

.pure-form legend {
    color: #5a5a5a;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.pure-control-group,
.pure-group {
    margin-bottom: 20px;
    position: relative;
}

.pure-control-group textarea,
.pure-group input[type="file"],
.pure-u-4 input[type="number"] {
    padding: 10px;
    border-radius: 4px;
}

.pure-control-group label,
.pure-u-4 label {
    position: absolute;
    top: -8px;
    left: 10px;
    background-color: #eeede7;
    padding: 0 5px;
    color: #999;
    font-size: 14px;
}

.pure-input-1-3 {
    width: 50%;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.pure-button-primary {
    background-color: #0078e7;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 100%;
}

#curr-location {
    background-color: #f2f2f2;
    color: #333;
}

.form-submit-field {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {

    .pure-control-group textarea,
    .pure-group input[type="file"],
    .pure-u-4 input[type="number"] {
        width: calc(100% - 20px);
    }

    .pure-u-4 input[type="number"] {
        margin-bottom: 15px;
    }
}