{% extends "header_template.html" %}
{% block head %}
{{ super() }}
<title>MAPOST | Home</title>
<link href="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css" rel="stylesheet">
<link href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.js"></script>
<link rel="stylesheet" href="/static/css/feed.css">
<script src="/static/js/home.js"></script>
<script src="/static/js/search.js" async></script>
{% endblock %}
{% block content %}
<div id="layout" class="pure-g">

  <div class="pure-menu pure-menu-horizontal feed-tools">
    <ul class="pure-menu-list">

      <li class="pure-menu-item">
        <div class="container ">
          <div class="search-container">
            <input type="text" class="pure-input-rounded, search-input" placeholder="">
            <div class="search-dropdown"></div>
          </div>
        </div>
      </li>

      <li class="pure-menu-item sort">
        <div class="pure-menu-heading">Sort By:</div>
      </li>
      <li class="pure-menu-item sort-recent">
        <a href="/?recent=true{% if search %}&q={{ search }}{% endif %}" class="pure-menu-link {% if not (session.location) %}active-sort{% endif %} sort-recent">Recent</a>
      </li>

      <li class="pure-menu-item sort-nearby">
        <form action="/{% if search %}?q={{ search }}{% endif %}" method="post" id="sort-form">
          <label for="create-lat"></label>
          <input type="hidden" id="create-lat" name="create-lat" value="0">

          <label for="create-long"></label>
          <input type="hidden" id="create-long" name="create-long" value="0">

          <button type="button" id="curr-location"
            class="pure-menu-link {% if session.location %}active-sort{% endif %} sort-nearby">Nearby</button>
        </form>
      </li>

    </ul>
  </div>

  <div class="posts-grid pure-u-3-4">
    <div class="post-col-left pure-u-2-5">
      {% for i in range(posts| length) %}
      {% if i%2 == 0 %}
      <article class="post" id="{{ posts[i]['id'] }}">
        <header class="post-header">
          <img class="post-author-img" src="{{ posts[i]['user_img'] }}" alt="Author's avatar">
          <div>
            <a href="/user/{{ posts[i]['user_id'] }}" class="post-author">{{ posts[i]['name'] }}</a>
            <div class="post-date">{{ posts[i]['time'] }}</div>
          </div>
        </header>

        <div class="post-body">
          <p class="post-content">{{ posts[i]['content'] }}</p>
          {% if posts[i].get('img') != '' %}
          <img class="post-image" src="data:image;base64,{{ posts[i]['img'] }}" alt="Post image">
          {% endif %}
        </div>

        <footer class="post-footer">
          <!-- <div class="post-location">{{posts[i]['lon']}}</div> -->
          <div>
            <!-- https://api.mapbox.com/styles/v1/{username}/{style_id}/static/{overlay}/{lon},{lat},{zoom},{bearing},{pitch}|{bbox}|{auto}/{width}x{height}{@2x} -->

            <img
              src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-l-embassy+f74e4e({{posts[i]['lon']}},{{posts[i]['lat']}})/{{posts[i]['lon']}},{{posts[i]['lat']}},13.75,0,60/400x175?access_token=pk.eyJ1IjoianlrMTk5OTEyMjIiLCJhIjoiY2x0M2FqODhkMWdhZzJscDhsNnlzYTFyaCJ9.eSPui_SEdaclP0xtujBzvw"
              class="post-map">
          </div>
        </footer>
      </article>
      {% endif %}
      {% endfor %}
    </div>

    <div class="post-col-right pure-u-2-5">
      {% for i in range(posts| length) %}
      {% if i%2 != 0 %}
      <article class="post" id="{{ posts[i]['id'] }}">
        <header class="post-header">
          <img class="post-author-img" src="{{ posts[i]['user_img'] }}" alt="Author's avatar">
          <div>
            <a href="/user/{{ posts[i]['user_id'] }}" class="post-author">{{ posts[i]['name'] }}</a>
            <div class="post-date">{{ posts[i]['time'] }}</div>
          </div>
        </header>

        <div class="post-body">
          <p class="post-content">{{ posts[i]['content'] }}</p>
          {% if posts[i].get('img') != '' %}
          <img class="post-image" src="data:image;base64,{{ posts[i]['img'] }}" alt="Post image">
          {% endif %}
        </div>

        <footer class="post-footer">
          <div>
            <img
              src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-l-embassy+f74e4e({{posts[i]['lon']}},{{posts[i]['lat']}})/{{posts[i]['lon']}},{{posts[i]['lat']}},13.75,0,60/400x175?access_token=pk.eyJ1IjoianlrMTk5OTEyMjIiLCJhIjoiY2x0M2FqODhkMWdhZzJscDhsNnlzYTFyaCJ9.eSPui_SEdaclP0xtujBzvw"
              class="post-map">
          </div>
        </footer>
      </article>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="pure-menu pure-menu-horizontal pages">
    <ul class="pure-menu-list">
      {% if page > 1 %}
      <li class="pure-menu-item">
        <a href="/?page=1{% if search %}&q={{ search }}{% endif %}" class="pure-menu-link">First</a>
      </li>
      <li class="pure-menu-item page-back">
        <a href="/?page={{ page-1 }}{% if search %}&q={{ search }}{% endif %}" class="pure-menu-link">Back</a>
      </li>
      {% endif %}

      {% set startPage = page-2 if page-2 > 0 else 1 %}
      {% set endPage = page+2 if page+2 <= total else total %}
      {% for p in range(startPage, endPage+1) %}
      <li class="pure-menu-item {{ 'page-curr' if p == page else '' }}">
        <a href="/?page={{ p }}{% if search %}&q={{ search }}{% endif %}" class="pure-menu-link">{{ p }}</a>
      </li>
      {% endfor %}

      {% if page < total %} 
      <li class="pure-menu-item page-next">
        <a href="/?page={{ page+1 }}{% if search %}&q={{ search }}{% endif %}" class="pure-menu-link">Next</a>
      </li>
      <li class="pure-menu-item">
        <a href="/?page={{ total }}{% if search %}&q={{ search }}{% endif %}" class="pure-menu-link">Last</a>
      </li>
      {% endif %}
    </ul>
  </div>

</div>

{% endblock %}