{% extends "header_template.html" %}
{% block head %} {{ super() }}
<title>MAPOST | See posts on Maps</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css" rel="stylesheet">
<link href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" -->
<!-- integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous"> -->
<script src="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.js"></script>
<link rel="stylesheet" href="/static/css/map.css">
<script src="/static/js/map.js"></script>
{% endblock %}
{% block content %}
<div id="map">
    <div id="left" class="sidebar flex-center left collapsed">
        <div class="sidebar-content rounded-rect" id="content">
            <div id='listings' class='listings'></div>
            <div class="sidebar-toggle rounded-rect left" onclick="toggleSidebar('left')">
                &rarr;
            </div>
        </div>
    </div>
</div>

<div id="basemap-menu">

    <input id="light-v11" type="radio" name="rtoggle" value="light" checked="checked">
    <label for="light-v11">light</label>
    <input id="dark-v11" type="radio" name="rtoggle" value="dark">
    <label for="dark-v11">dark</label>
    <input id="streets-v12" type="radio" name="rtoggle" value="streets">
    <label for="streets-v12">streets</label>
    <input id="satellite-streets-v12" type="radio" name="rtoggle" value="satellite">
    <label for="satellite-streets-v12">satellite streets</label>
</div>
{% endblock %}